<body class="flex flex-col sm:m-5 md:flex-row">
    <!-- Contenedor de categorías -->
    <div
        class="flex flex-wrap justify-center md:mr-5 text-center border-b-1 border-gray-200 sm:text-justify md:border-b-0">
        <ol class="list-none">
            <li class="font-bold mb-2">Categorías</li>
            @for (item of categories; track $index) {
            <li class="hover:underline cursor-pointer" (click)="searchByCategory(item)">{{item}}</li>
            }
        </ol>
    </div>

    <!-- Contenedor de productos -->
    <div class="flex flex-wrap grow gap-2 my-5 px-4 justify-center content-start border-gray-200 md:my-0 md:border-l-1 sm:gap-2">
        @if ((products$ | async); as products) {
        @for (product of products; track product.id) {
        <app-product-item [routerLink]="['/products', product.id]">
            <div image><img [src]="product.link" [alt]="product.name" class="w-full h-45 object-fill">
            </div>
            <div title>
                <p class="truncate">{{product.name}}</p>
            </div>
            <div price>{{product.price}}</div>
        </app-product-item>
        }
        @empty {
        <p>No hay productos para mostrar. </p>
        }
        }
        @else {
        <p>Cargando productos...</p>
        }
    </div>
    <div class="flex justify-end h-full md:w-1/3 xl:w-1/5">
        <app-cart-icon (openCart)="isCartModalOpen=true" [hiddenIcon]="isCartModalOpen" class="md:hidden" />
        <app-cart-modal (closeModal)="isCartModalOpen=false" [isOpen]="isCartModalOpen" [displayMode]="displayMode" class="w-full"/>
    </div>

</body>