<div class="grid grid-cols-5 max-sm:grid-cols-1">
    <!-- Contenedor de categorías -->
    <div class="max-sm:hidden">1</div>
    <!-- Contenedor de productos -->
    <div
        class="grid mx-5 gap-2 col-span-4 grid-cols-[repeat(auto-fit,minmax(140px,1fr))] md:grid-cols-[repeat(auto-fit,minmax(200px,1fr))]">
        <app-product-item>
            <div image><img src="https://i.pinimg.com/originals/ba/cb/de/bacbde10cd4ffec65d41b31260c2dd45.jpg"
                    alt="Zapato" class="w-full h-auto">
            </div>
            <div title>
                <p class="text-xl truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe vel,
                    perferendis repudiandae placeat earum ea eveniet quidem fugit quis quaerat hic, libero laboriosam
                    odio? Eveniet dignissimos est maiores ea tenetur.</p>
            </div>
            <div price>89.99$</div>
        </app-product-item>

        <app-product-item>
            <div image><img src="https://i.pinimg.com/originals/ba/cb/de/bacbde10cd4ffec65d41b31260c2dd45.jpg"
                    alt="Zapato" class="w-full h-auto">
            </div>
            <div title>
                <p class="text-xl">Vans Classic</p>
            </div>
            <div price>89.99$</div>
        </app-product-item>

        <app-product-item>
            <div image><img src="https://i.pinimg.com/originals/ba/cb/de/bacbde10cd4ffec65d41b31260c2dd45.jpg"
                    alt="Zapato" class="w-full h-auto">
            </div>
            <div title>
                <p class="text-xl">Vans Classic</p>
            </div>
            <div price>89.99$</div>
        </app-product-item>

        <app-product-item>
            <div image><img src="https://i.pinimg.com/originals/ba/cb/de/bacbde10cd4ffec65d41b31260c2dd45.jpg"
                    alt="Zapato" class="w-full h-auto">
            </div>
            <div title>
                <p class="text-xl">Vans Classic</p>
            </div>
            <div price>89.99$</div>
        </app-product-item>

        <app-product-item>
            <div image><img src="https://i.pinimg.com/originals/ba/cb/de/bacbde10cd4ffec65d41b31260c2dd45.jpg"
                    alt="Zapato" class="w-full h-auto">
            </div>
            <div title>
                <p class="text-xl">Vans Classic</p>
            </div>
            <div price>89.99$</div>
        </app-product-item>

        <app-product-item>
            <div image><img src="https://i.pinimg.com/originals/ba/cb/de/bacbde10cd4ffec65d41b31260c2dd45.jpg"
                    alt="Zapato" class="w-full h-auto">
            </div>
            <div title>
                <p class="text-xl">Vans Classic</p>
            </div>
            <div price>89.99$</div>
        </app-product-item>
        <app-product-item>
            <div image><img src="https://i.pinimg.com/originals/ba/cb/de/bacbde10cd4ffec65d41b31260c2dd45.jpg"
                    alt="Zapato" class="w-full h-auto">
            </div>
            <div title>
                <p class="text-xl">Vans Classic</p>
            </div>
            <div price>89.99$</div>
        </app-product-item>
        <app-product-item>
            <div image><img src="https://i.pinimg.com/originals/ba/cb/de/bacbde10cd4ffec65d41b31260c2dd45.jpg"
                    alt="Zapato" class="w-full h-auto">
            </div>
            <div title>
                <p class="text-xl">Vans Classic</p>
            </div>
            <div price>89.99$</div>
        </app-product-item>

        <app-product-item>
            <div image><img src="https://i.pinimg.com/originals/ba/cb/de/bacbde10cd4ffec65d41b31260c2dd45.jpg"
                    alt="Zapato" class="w-full h-auto">
            </div>
            <div title>
                <p class="text-xl">Vans Classic</p>
            </div>
            <div price>89.99$</div>
        </app-product-item>

    </div>
</div>