<div class="flex flex-row">
    <!-- Contenedor de categorías -->
    <div class="max-sm:hidden flex-1/5">1</div>
    <!-- Contenedor de productos -->
    <div
        class="flex flex-row flex-wrap mx-5 gap-2 flex-auto sm:flex-4/5 justify-evenly">
        <app-product-item>
            <div image><img src="https://i.pinimg.com/originals/ba/cb/de/bacbde10cd4ffec65d41b31260c2dd45.jpg"
                    alt="Zapato" class="w-full h-auto">
            </div>
            <div title>
                <p class="text-xl truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe vel,
                    perferendis repudiandae placeat earum ea eveniet quidem fugit quis quaerat hic, libero laboriosam
                    odio? Eveniet dignissimos est maiores ea tenetur.</p>
            </div>
            <div price>89.99$</div>
        </app-product-item>
        <app-product-item>
            <div image><img src="https://i.pinimg.com/originals/ba/cb/de/bacbde10cd4ffec65d41b31260c2dd45.jpg"
                    alt="Zapato" class="w-full h-auto">
            </div>
            <div title>
                <p class="text-xl truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe vel,
                    perferendis repudiandae placeat earum ea eveniet quidem fugit quis quaerat hic, libero laboriosam
                    odio? Eveniet dignissimos est maiores ea tenetur.</p>
            </div>
            <div price>89.99$</div>
        </app-product-item>
        <app-product-item>
            <div image><img src="https://i.pinimg.com/originals/ba/cb/de/bacbde10cd4ffec65d41b31260c2dd45.jpg"
                    alt="Zapato" class="w-full h-auto">
            </div>
            <div title>
                <p class="text-xl truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe vel,
                    perferendis repudiandae placeat earum ea eveniet quidem fugit quis quaerat hic, libero laboriosam
                    odio? Eveniet dignissimos est maiores ea tenetur.</p>
            </div>
            <div price>89.99$</div>
        </app-product-item>
        <app-product-item>
            <div image><img src="https://i.pinimg.com/originals/ba/cb/de/bacbde10cd4ffec65d41b31260c2dd45.jpg"
                    alt="Zapato" class="w-full h-auto">
            </div>
            <div title>
                <p class="text-xl truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe vel,
                    perferendis repudiandae placeat earum ea eveniet quidem fugit quis quaerat hic, libero laboriosam
                    odio? Eveniet dignissimos est maiores ea tenetur.</p>
            </div>
            <div price>89.99$</div>
        </app-product-item>
        <app-product-item>
            <div image><img src="https://i.pinimg.com/originals/ba/cb/de/bacbde10cd4ffec65d41b31260c2dd45.jpg"
                    alt="Zapato" class="w-full h-auto">
            </div>
            <div title>
                <p class="text-xl truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe vel,
                    perferendis repudiandae placeat earum ea eveniet quidem fugit quis quaerat hic, libero laboriosam
                    odio? Eveniet dignissimos est maiores ea tenetur.</p>
            </div>
            <div price>89.99$</div>
        </app-product-item>
        <app-product-item>
            <div image><img src="https://i.pinimg.com/originals/ba/cb/de/bacbde10cd4ffec65d41b31260c2dd45.jpg"
                    alt="Zapato" class="w-full h-auto">
            </div>
            <div title>
                <p class="text-xl truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe vel,
                    perferendis repudiandae placeat earum ea eveniet quidem fugit quis quaerat hic, libero laboriosam
                    odio? Eveniet dignissimos est maiores ea tenetur.</p>
            </div>
            <div price>89.99$</div>
        </app-product-item>
        <app-product-item>
            <div image><img src="https://i.pinimg.com/originals/ba/cb/de/bacbde10cd4ffec65d41b31260c2dd45.jpg"
                    alt="Zapato" class="w-full h-auto">
            </div>
            <div title>
                <p class="text-xl truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe vel,
                    perferendis repudiandae placeat earum ea eveniet quidem fugit quis quaerat hic, libero laboriosam
                    odio? Eveniet dignissimos est maiores ea tenetur.</p>
            </div>
            <div price>89.99$</div>
        </app-product-item>
        <app-product-item>
            <div image><img src="https://i.pinimg.com/originals/ba/cb/de/bacbde10cd4ffec65d41b31260c2dd45.jpg"
                    alt="Zapato" class="w-full h-auto">
            </div>
            <div title>
                <p class="text-xl truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe vel,
                    perferendis repudiandae placeat earum ea eveniet quidem fugit quis quaerat hic, libero laboriosam
                    odio? Eveniet dignissimos est maiores ea tenetur.</p>
            </div>
            <div price>89.99$</div>
        </app-product-item>

    </div>
</div>