<div class="flex flex-col justify-center items-center h-full m-10 md:flex-row md:h-160 md:gap-14 md:mb-0 md:mt-0">
    <div class="flex flex-col items-center text-center">
        <img src="Assets/support.gif" alt="Soporte Gif" class="w-40">
        <h2 class="text-2xl font-bold">¿Cómo podemos ayudarte hoy?</h2>
        <h3 class="text-lg font-light"> Escríbenos, estamos a un mensaje de distancia.</h3>
    </div>

    <div class="flex flex-col text-center rounded-3xl text-black bg-white p-10 items-center w-auto max-w-90">

        <form [formGroup]="contactForm" (ngSubmit)="submit()" class="flex flex-col w-full gap-2">
            <div class="flex gap-2">
                <input type="text" placeholder="Nombre" name="name" id="name"
                    class="border-1 rounded-full px-4 h-10 w-1/2 placeholder-neutral-500 border-neutral-500"
                    formControlName="name">

                <input type="tel" placeholder="Celular" name="phone" id="phone"
                    class="border-1 rounded-full px-4 h-10 w-1/2 placeholder-neutral-500 border-neutral-500"
                    formControlName="phone">
            </div>

            <input type="email" placeholder="Email" name="email" id="email"
                class="border-1 rounded-full px-4 h-10 placeholder-neutral-500 border-neutral-500"
                formControlName="email">

            <textarea name="message" placeholder="Mensaje" id="message" rows="4" maxlength="100"
                class="border-1 rounded-4xl px-4 placeholder-neutral-500 border-neutral-500 resize-none"
                formControlName="message"></textarea>
            <br>
            <app-button [classes]="'bg-sky-200 w-20 m-auto text-black'">Enviar</app-button>
        </form>

    </div>
</div>