<div class="flex flex-col relative max-h-100">
    <!-- Contenedor del carrusel -->
    <div class="carouselContainer flex bg-blue-200 transition transform duration-1000">
        @for (banner of banners; track $index) {
        <!-- Banner contenedor -->
        <div class="carousel flex w-full flex-shrink-0 {{banner.color}}">
            <!-- Parte izquierda -->
            <div class="flex justify-start w-1/2">
                <img [src]="banner.imageLeftUrl" [alt]='"{{banner.title}} Izquierda"' class="object-contain">
            </div>
            <!-- Parte derecha -->
            <div class="flex justify-end w-1/2">
                <img [src]="banner.imageRightUrl" [alt]='"{{banner.title}} Derecha"' class="object-contain">
            </div>
        </div>
        }
    </div>
    <div class="dotContainer flex gap-2 absolute bottom-2 left-1/2"></div>
</div>