<div class="flex flex-col bg-white shadow-lg lg:flex-row">
    <!-- Logo del negocio -->
    <div class="flex justify-center items-center m-4 max-sm:justify-start"><img
            src="https://raw.githubusercontent.com/Astaroth25/Assets-Inti-Store/refs/heads/main/Inti%20Store.svg"
            alt="Logo" class="flex size-24"><span class="text-xl font-bold ml-1 cursor-default xl:text-2xl">Inti
            Store</span>
        <button class="ml-auto sm:hidden" (click)="menuClick()">
            <svg width="48" height="48">
                <use xlink:href="../../../Assets/sprite.svg#menu"></use>
            </svg>
        </button>
    </div>
    <!-- Botones de navegación -->
    <div class="flex flex-col mb-4 grow gap-1 items-center justify-center sm:flex-row lg:mb-0"
        [class.hidden]="!((menuOpen$ | async) || menuToggle)">
        @if ((currentUser$ | async); as user) {
        <div class="flex flex-col gap-2 items-center sm:order-last sm:flex-row lg:ml-auto">
            <p class="p-3 border-b-1 border-b- border-neutral-500 sm:order-5 sm:border-b-0 sm:border-r-1 lg:p-4 cursor-default">{{user.username}}</p>
            <app-button [classes]="'hover:bg-red-200'" class="sm:order-last lg:mr-4" (click)="logout()"
                [routerLink]="['/home']">Logout</app-button>
        </div>
        }
        @else {
        <app-button [classes]="'hover:bg-green-200'" class="sm:order-last lg:ml-auto lg:mr-4"
            [routerLink]="['/login']">Login</app-button>
        }

        <app-button [classes]="'hover:bg-amber-200'" [routerLink]="['/home']">Inicio</app-button>

        <app-button [classes]="'hover:bg-sky-200'" [routerLink]="['/products']">Productos</app-button>

        <app-button [classes]="'hover:bg-fuchsia-200'" [routerLink]="['/contacts']">Contactos</app-button>
        <!--Barra de búsqueda -->
        <div class="relative order-first sm:order-4">
            <input type="text" placeholder="Buscar" [formControl]="searchBar"
                class="rounded-full text-center px-4 border-1 border-neutral-500 placeholder-neutral-500 outline-none focus:placeholder-transparent sm:w-40 lg:w-auto">
            <svg width="20" height="20"
                class="absolute top-1/2 -translate-y-1/2 right-4 fill-neutral-400 hover:fill-neutral-600"
                (click)="searchByName()">
                <use xlink:href="Assets/sprite.svg#search"></use>
            </svg>
        </div>
    </div>
</div>