<div class="flex flex-col bg-black text-white text-center items-center gap-2 pt-10 pb-10 mt-10 md:flex-row md:items-start">
    <div class="w-full pb-40 pt-40  md:w-1/2">
        <h3 class="text-2xl m-5">Programador</h3>
        <p class="">El sitio web fue desarrollado por <span class="inline-flex items-center gap-2">
                Astaroth_25
                <img src="../../../Assets/devil.png" class="w-8">
            </span></p>
    </div>

    <div class="w-full pb-40 md:pt-40 md:w-1/2">
        <h3 class="text-2xl m-5">Redes</h3>
    </div>
</div>

<div class="w-full text-white text-center bg-black pt-40">
    <p>Todos los derechos reservados.</p>
</div>