<footer class="flex flex-col bg-black text-white text-center gap-2 pt-10 pb-10 mt-5 md:flex-row">
    <div class="w-full pb-40 pt-40  md:w-1/2">
        <h3 class="text-2xl m-5">Programador</h3>
        <p class="px-5">El sitio web fue desarrollado por <span class="inline-flex items-center gap-2">
                Astaroth_25
                <img src="../../../Assets/devil.png" class="w-8">
            </span></p>
    </div>

    <div class="flex flex-col w-full pb-40 md:pt-40 md:w-1/2">
        <h3 class="text-2xl m-5">Redes</h3>
        <div class="flex flex-row justify-center gap-5 lg:gap-10">
            <!-- Facebook -->
            <a class="flex flex-col items-center" href="https://www.facebook.com/angelo.franco.497573" target="_blank"
                rel="noopener noreferrer">
                <svg fill="#1877F2" class="w-12 h-12 lg:w-16 lg:h-16">
                    <use xlink:href="../../../Assets/sprite.svg#facebook"></use>
                </svg>
                <p class="pt-2">Facebook</p>
            </a>
            <!-- WhatsApp -->
            <a class="flex flex-col items-center" href="https://www.facebook.com/angelo.franco.497573" target="_blank"
                rel="noopener noreferrer">
                <svg fill="#25D366" class="w-12 h-12 lg:w-16 lg:h-16">
                    <use xlink:href="../../../Assets/sprite.svg#whatsapp"></use>
                </svg>
                <p class="pt-2">WhatsApp</p>
            </a>
            <!-- GitHub -->
            <a class="flex flex-col items-center" href="https://www.facebook.com/angelo.franco.497573" target="_blank"
                rel="noopener noreferrer">
                <svg fill="#FFFFFF" class="w-12 h-12 lg:w-16 lg:h-16">
                    <use xlink:href="../../../Assets/sprite.svg#github"></use>
                </svg>
                <p class="pt-2">GitHub</p>
            </a>
        </div>

    </div>
</footer>

<div class="w-full text-white text-center bg-black pt-40">
    <p>Todos los derechos reservados.</p>
</div>